<div class="table">
  <table>
    <tr>
      <th>Acres</th>
      <th>to</th>
      <th>Square Miles</th>
    </tr>
    <tr>
      <td>100 acres</td>
      <td>=</td>
      <td>0.16 square miles</td>
    </tr>
    <tr>
      <td>500 acres</td>
      <td>=</td>
      <td>0.78 sq. mi.</td>
    </tr>
    <tr>
      <td>1,000 acres</td>
      <td>=</td>
      <td>1.56 sq. mi.</td>
    </tr>
    <tr>
      <td>10,000 acres</td>
      <td>=</td>
      <td>15.63 sq. mi.</td>
    </tr>
    <tr>
      <td>100,000 acres</td>
      <td>=</td>
      <td>156.25 sq. mi.</td>
    </tr>
    <tr>
      <td>City of Seattle</td>
      <td>=</td>
      <td>83.78 sq. mi.</td>
    </tr>
    <tr>
      <td>Mount Rainier National Park</td>
      <td>=</td>
      <td>369.3 sq. mi.</td>
    </tr>
  </table>
</div>
